/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

/* Styles for the body */

.funku-text {
color: #F9F9F9;

text-align: center;

font-style: sans-erif;

text-decoration: underline #ffcc00;
	
}
body {
	font-family: 'Nuosu SIL', serif;
	color: #1E0320;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #F46036;
}

.resume-main {
	background-color: #FFFFFF;
}

.resume-aside {
	background-color: #fff0e0;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.text{
	text-shadow: 5px 5px 5px grey;
}
